#autocomplete, #autocomplete ul, #autocomplete li, #autocomplete a, #autocomplete span, #autocomplete strong{
  font-family:Verdana, Arial;
  font-size:11px;
  list-style:none;
  margin:0;
  padding:0;
  text-decoration:none;
}

#autocomplete {
  background:#FFF;
  border:1px #000 solid;
  border-bottom:none;
  visibility:hidden;
  position:absolute;
  top:50%;
  left:50%;
  z-index:1;
  overflow:auto;
}

#autocomplete li {
  border-bottom:1px #000 solid;
  color:#000;
  cursor:pointer;
  display:block;
  padding:4px;
}

#autocomplete li.current {
  background:#3366CC;
  color:#FFF;
}

#autocomplete li a {
  color:#000;
  display:block;
}
#autocomplete li.current a {
  color:#FFF;
}